
html {
    box-sizing: border-box;
    height: 100%;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  *{
    margin: 0;
    padding: 0;
  }
  
  .noSelect{user-select: none;}
  
  header {
    position: fixed;
    // top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    // background-color: black;
    background-color: #202020;
    background-color: #252525;

    height: 85px;
    width: 100%;
    z-index: 999999999999;
  }
  
    #header-wrapper {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      // background-color: red;
      width: 100%;
      max-width: 1366px;
      height: 100%;
      // z-index: 10000000000;

      #logo {
        position: relative;
        height: 100%;
        width: 240px;
        padding: 20px;
      }
    }

    #header-nav {
      position: relative;
      height: 100%;
      width: auto;
      // background-color: purple;
      display: flex;
      align-items: center;
      
      ul {

        li {
          display: inline;
          margin: 10px;
          padding: 5px;
          list-style: none;
          text-decoration: none;
          color: white;
          font-size: 1em;
          font-family: 'Open Sans';
        }

        li::after{
          content: '\25bc';
          color: #808080;
        }

      }

    }

    #icon-wrapper {
      display: flex;
      align-items: center;

      i{
        margin: 10px;
      }
    }

    section {
      height: 100vh;
      background-color: black;


    }

    #splash {
      position: relative;
      // top: 85px;
      background: url('/img/architecture-compressed.jpg') no-repeat center center fixed;
    }

    .features-wrapper{
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      // max-width: 1366px;      
      height: 280px;
      background: rgb(86, 78, 92);

      .features-grid {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        height: 100%;
        width: 250px;
        // margin: 50px;
        // background-color: red;
        // border: 1px solid black;

        img {
          width: 100%;
          padding: 35px;
        }

      }

    }




