html {
  box-sizing: border-box;
  height: 100%; }

*, *:before, *:after {
  box-sizing: inherit; }

* {
  margin: 0;
  padding: 0; }

.noSelect {
  user-select: none; }

.paper-shadow-bottom-z-2 {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2); }

header {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #202020;
  background-color: #252525;
  height: 85px;
  width: 100%;
  z-index: 999999999999; }

#header-wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1366px;
  height: 100%; }
  #header-wrapper #logo {
    position: relative;
    height: 100%;
    width: 240px;
    padding: 20px; }

#header-nav {
  position: relative;
  height: 100%;
  width: auto;
  display: flex;
  align-items: center; }
  #header-nav ul li {
    display: inline;
    margin: 10px;
    padding: 5px;
    list-style: none;
    text-decoration: none;
    color: white;
    font-size: 1em;
    font-family: 'Open Sans'; }
  #header-nav ul li::after {
    content: '\25bc';
    color: #808080; }

#icon-wrapper {
  display: flex;
  align-items: center; }
  #icon-wrapper i {
    margin: 10px; }

section {
  height: 100vh;
  background-color: black; }

#splash {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: url("/img/architecture-compressed2.jpg") no-repeat center center fixed; }
  #splash #splash-dialog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 450px; }
    #splash #splash-dialog h2 {
      color: #add8ce;
      color: #e3dbdb;
      font-family: 'Raleway', sans-serif;
      font-size: 2em;
      text-shadow: black 0.1em 0.1em 0.2em; }
    #splash #splash-dialog h1 {
      color: #e3dbdb;
      font-family: 'Raleway', sans-serif;
      font-weight: bold;
      text-shadow: black 0.1em 0.1em 0.2em;
      font-size: 3.5em;
      margin-top: 40px; }
  #splash .button-wrapper {
    display: flex;
    justify-content: space-around;
    width: 700px;
    padding: 15px; }
    #splash .button-wrapper button {
      position: relative;
      display: inline-block;
      width: 220px;
      height: 60px;
      border-radius: 30px;
      border: none;
      outline: none;
      font-family: 'Open Sans', sans-serif;
      font-weight: 600; }
    #splash .button-wrapper button:nth-of-type(1) {
      background: #564e5c; }
    #splash .button-wrapper button:nth-of-type(2) {
      background: #c0c75f; }

.features-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 280px;
  background: #564e5c; }
  .features-wrapper .features-grid {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 250px; }
    .features-wrapper .features-grid img {
      width: 100%;
      padding: 35px; }

/*# sourceMappingURL=main.compiled.css.map */
